<!DOCTYPE html>
<html>
    <head>
        <title>Candaite</title>
    </head>

    <body>
        <h1>Add a Candidate</h1>

        <form id="candidate_form" method="post" action="/pages/add_candidate/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" value="Create Candidate" />
        </form>
    </body>

</html>