{% extends "base.html" %}

<style>
 #candidate-container {
        }
 </style>
  
{% block script %}
<script>   

function getParameterByName(name, url) {
    if (!url) {
      url = window.location.href;
    }
    name = name.replace(/[\[\]]/g, "\\$&");
   
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
       
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}

$(document).ready(function(){
    // console.log("working"); 
    var query = getParameterByName('q')
    var candidateList = [];

  function parseCandidate(){
    if (candidateList == 0){
      $("#candidate-container").text("No tweets currently")

    } else {
    $.each(candidateList, function(key, value){
              var candidateKey = key;
              var candidate_id_candidate = value.id_candidate;
              var candidate_user = value.userId;
              var candidate_summary = value.summary
              $("#candidate-container").append(
                  "<div class=\"media\"><div class=\"media-body\">" + candidate_id_candidate + "<br/>" + candidate_summary + "<br/> via " + candidate_user.username + " | " + "<a href='#'>View</a>" + "</div></div><hr/>"
              )
          })
      }
    }

   function fetchCandidates(){
      console.log("fetching...")
      $.ajax({
          url: "/api/candidates/",
          data: {
          "q": query
          },
          method: "GET",
          success: function(data){
            // console.log(data)
            candidateList = data
            parseCandidate()
          },
          error: function(data){
            console.log("errorurl")
            console.log(url)
            // console.log(data)
          }
        })
   }

   fetchCandidates()

    $("#tweet-form").submit(function(event){
      event.preventDefault()

      var this_ = $(this)
      var formData = this_.serialize()

      $.ajax({
          url: "/api/candidates/create",
          data: formData,
          method: "POST",
          success: function(data){
            console.log(data)
            fetchCandidates()
            // candidateList = data
            // parseCandidate()
          },
          error: function(data){
            console.log("error")
            console.log(data.statusText)
            console.log(data.status)
            // console.log(data)
          }
        })


      
  })





  });
</script>
{% endblock script %}

{% block content %}   
    <div class='row'>
        <div class='col-sm-3 col-xs-12' style='background-color:red;'>
        <h1>{{ request.user }}</h1>
        </div>
        <div class='col-sm-9 '>
             {% if not request.GET.q %}
                <div class=''>
                    
                {% include "pages/form.html" with form=create_form action_url=create_url btn_title='Add Candidate' form_id='tweet-form' %}

                </div>
                <hr/>
            {% endif %}

          <div id='candidate-container'>
          </div>
        </div>
    </div>

{% endblock content %}


<!-- 
{% for object in object_list %}
<div class="media">
      <div class="media-left">
        <a href="#">
          {% if object.image %}
            <img class="media-object" src="..." alt="...">
         {% endif %}
        </a>
      </div>
      <div class="media-body">
            {{ object.name_candidate }}<br/>
            {{ object.id_content }}<br/>
            {{ object.summary }}<br/>
            via {{ object.userId }}  | <a href='{{ object.get_absolute_url }}'>View</a>
      </div>
      <div class="media-body">
        {{ object.content }}<br/>
        via {{ object.user }} | {{ object.timestamp|timesince }} ago | <a href='{{ object.get_absolute_url }}'>View</a>
      </div>
</div>
<hr/>
{% empty %}
{% if request.GET.q %}
 <p>No tweets found.</p>
{% else %}
<p>No tweets yet.</p>
{% endif %}
{% endfor %} -->