{% extends 'base.html' %}
  
  {% block content %}





{% for obj in object_list %}
<h1>{{ obj.name_candidate }} </h1> 
<h1>{{ obj.summary }} </h1> 

{% endfor %}


                <!-- {{ boldmessage }}  
                {% if candidates %}

                <ul>
        
                  {% for boards in candidates %}
                    <li><a href="/pages/candidate/{{ boards.slug }}">{{ boards.id_candidate }}</a></li>
                  {% endfor %}
        
                 </ul>
        
              {% endif %} -->


      <!-- <div class="album text-muted">
          <h2 class="display-6 text-center">How popular is your representative? </h2>

          <div class="container">
              <h5 class="mx-auto display-6 ">Bigest loosers </h5>
            <div class="row">
              <div class="card">
                <img data-src="holder.js/100px280?theme=thumb" alt="Card image cap">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
              <div class="card">
                <img data-src="holder.js/100px280?theme=thumb" alt="Card image cap">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
              <div class="card">
                <img data-src="holder.js/100px280?theme=thumb" alt="Card image cap">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div> 
          </div>
        </div>


        <div class="album text-muted">
            <div class="container">
                <h5 class="mx-auto display-6 ">Bigest loosers </h5>
              <div class="row">
                <div class="card">
                  <img data-src="holder.js/100px280?theme=thumb" alt="Card image cap">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card">
                  <img data-src="holder.js/100px280?theme=thumb" alt="Card image cap">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card">
                  <img data-src="holder.js/100px280?theme=thumb" alt="Card image cap">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
    
            </div>
          </div>
                
          <canvas id="lineChart"></canvas> -->

    {% endblock %}