
{% for obj in object_list %}
<h1>{{ obj.name_candidate }} </h1> 
<h1>{{ obj.summary }} </h1> 

{% endfor %}





   <!-- <div class="jumbotron">
      <div class="container">
        <h2 class="display-6 text-center">Search, review, and approve your local representative </h2>
        <div class="input-group col-md-12"> -->
                <form class="search-form" method="get" action="{% url 'results' %}" > -->
                        <!-- <input type="text" class="search-query form-control" name ="search_text" id = "search" placeholder="Search" />
                        <span class="input-group-btn form-inline">
                        <button type="button" class="btn btn-primary btn-lg">Large button</button>
                        <span class=" glyphicon glyphicon-search"></span> -->
                          <!-- <button type="button" class="btn btn-primary btn-lg">Large button</button> -->
                   <!-- </form>
          
                   <form method="get" action="{% url 'results' %}" class="navbar-form pull-right">
                      <!-- <input type="text" id="searchBox" class="input-medium search-query" name="q" placeholder="Search"> -->
                      <!-- <input type="text" class="search-query" name ="search_text" id = "search" placeholder="Search" />
                      <input type="submit" class="btn" value="Search" >
                    </form>
                  </span>
                  </div>
                </div>
              </div> -->
          