body {
  padding-top: 3.5rem;
}

/**/

/* Optional theme */
@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css');

body {
    margin: 10px;
}

.changethisone span{
    background-color: #FFF;
}

.changethisone input{
    border-right-style:none;
}